*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
    display: inline;
}

button{
    cursor: pointer;
    border: none;
    background-color: transparent;
}

ul{
    list-style: none;
}

:placeholder-shown{
    border: none;
}

.header{
    background-image: url(../images/bg-knife.jpg);
    min-height: 590px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Jura', sans-serif;
    
}

.container{
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.header__top{
    background-color: rgba(33, 33, 33, 0.8);
    margin: 0 auto;
    max-height: 71px;   
    width: 100%;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 71px;
}

.menu__nav{
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.menu__nav-list{
    display: flex;
}

.list-item + .list-item{
    margin-left: 27px;
}

.phone{
    margin-left: 27px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.header__content{
    padding-top: 75px;
}

.header__title{
    font-size: 41px;
    line-height: 48px;
    margin-bottom: 24px;
}

.header__text{
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    line-height: 23px;
}

.header__text-media{
    display: none;
}

.header__btn{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 23px;
    font-weight: 600;
    color: #fff;
    border: 2px solid #C80000;
    border-radius: 27px;
    padding: 16px 34px 16px;
    background: transparent;
    margin-top: 39px;
    margin-bottom: 72px;
}

.header__footer{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding-bottom: 76px;
}

.footer__menu{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: transparent;
    color: #fff; 
}

.arrow__left{
    margin-right: auto;
    color: #fff;
    width: 15px;
    margin-left: 16px;
    padding-top: 24px;
}

.footer__menu-list{
    display: flex;
    justify-content: center;
    font-size: 15px;
}

.footer__menu-item{
    margin-right: 42px;
    width: 19px;
    height: 19px;
}

.arrow__right{
    margin-left: auto;
    padding-top: 24px;
    color: #fff;
    width: 15px;
    margin-right: 16px;  
}

.footer__menu-item:hover{
    background: #fff;
    border-radius: 50%;
    transition: 1s;
}

.main{
    background-color: #373737;
    padding: 60px 0 35px;  
}

.about__item{
    display: flex;
    justify-content: space-around;
    padding-bottom: 88px;
}

.about__kinds-img{
    margin-left: auto;
    margin-right: auto;
    max-width: 1020px;
    display: flex;
    margin-bottom: 31px;
    color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.about__kinds-text{
    max-width: 1020px;
    text-align: center;
    font-size: 17px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.1);
}

.about__kinds-text:hover{
    color: #FF0000;
    transition: 1s;
}

.about__content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

.about__content-img{
    background-image: url(../images/1knife.jpg);
    width: 590px;
    height: 481px;
    border-radius: 14px;
    display: flex;
    justify-content: space-between;  
    
}

.about__text{
    font-size: 17px;
    line-height: 28px;
    font-weight: 600;
    padding-top: 425px;
    margin-left: 25px;
}

.arrow__right-about{
    padding-top: 449px; 
    padding-right: 28px;
    padding-bottom: 28px;
}

.about__content-knife{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    padding-bottom: 60px;
}

.about__content-a__box{
    display: block;
    margin-bottom: 25px;
}

.about__content-a{
    background-color: #272727;
    border-radius: 14px;
    width: 286px;
    height: 412px;
    max-width: 1200px;
}

.about__content-a__text{
    font-size: 14px;
    line-height: 28px;
    font-weight: 500;
    padding-top: 12px;
    display: block;
}

.knife__sq01{
    padding-top: 53px;
    padding-left: 25px;
    padding-right: 25px;
}

.knife__jj001{
    padding-top: 89px;
    padding-left: 12px;
    padding-right: 12px;
}
.p__text{
    margin: 0;
}

.p__price{
    margin: 0;
    color: rgba(255, 255, 255, 0.1);
}

.p__price span{
    color: #FF3232;
    padding-left: 28px;
}

.about__plus-btn{
    margin-top: 29px;
    margin-left: 240px; 
}

.about__purchase-btn{
    width: 72px;
    height: 37px;
    background-color: #C80000;
    border-radius: 18px;
    margin-top: 18px;
    margin-left: 198px;
}

.about__purchase{
    padding-left: 13px;
}

.about__plus-btn__red{
    width: 37px;
    height: 37px;
    background-color: #C80000;
    border-radius: 50px;
    margin-top: 18px;
    margin-left: 236px;
}


.about__content-c{
    background-image: url(../images/bg-inst.png);
    border-radius: 14px;
    width: 286px;
    height: 412px;
    font-weight: 600;
    display: flex;
}

.about__inst{
    padding-left: 107px;
    padding-top: 39px;
    padding-bottom: 350px;
}

.about__plus-inst{
    color: #fff;
    width: 23px;
    height: 23px;
}

.about__content-a__text-inst{
    padding-top: 37px;
    padding-left: 18px;
}

.p__text-inst{
    margin: 0;
}

.about_news{
    width: 100%;
    text-align: center;
}

.about__title{
    font-size: 27px;
    line-height: 42px;
    font-family: 'Jura', sans-serif;
    font-weight: 500;
}

.contacts__form-input{
    background-color: #272727;
    border-radius: 6px;
    width: 276px;
    height: 59px;
    font-size: 15px;
    line-height: 18px;
    color: #fff;
}

.contacts__form-input::placeholder{
    color: rgba(255, 255, 255, 0.1);
    background-image: url(../images/right.svg);
    background-repeat: no-repeat;
    background-position: right 13% bottom 50%;
    padding-left: 26px;
}

.about__content-b__box{
    margin-top: 49px;
}

.about__content-b{
    background-color: #272727;
    border-radius: 14px;
    width: 286px;
    height: 412px;
    max-width: 1200px;
}

.about__hr{
    margin-top: 61px;
    color: #fff;
    opacity: 0.1;
}

.news__item{
    margin-top: 60px;
    margin-left: 16px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.news__content{
    display: flex;
    font-weight: 600;
}

.news__content-btn + .news__content-btn{
    margin-left: 53px;
}

.news__content-btn {
	position: relative;
	color: rgba(255, 255, 255, 0.1); 
	line-height: 1; 
	text-decoration: none; 
}

.news__content-btn:hover{
    color: #fff;
    transition:  0.3s;
}

.news__content-btn:after {
	display: block;
	position: absolute;
	left: 0; 
	width: 0;
	height: 2px; 
	background-color: #C80000; 
	content: "";
	transition:  0.3s ease-out; 
}

.news__content-btn:hover:after,
.news__content-btn:focus:after {
	width: 100%; 
}

.news__hr{
    color: #fff;
    border: 1px solid #FFFFFF;
    opacity: 0.1;
}

.tuotown{
    margin-top: 60px;
}

.tuotown__inner{
    margin-bottom: 60px;
}    

.tuotown__title{
    display: flex;
    justify-content: start;
}

.tuotown__title-text{
    display: block;
    margin-top: 8px;
    padding-left: 81px;
}

.tuotown__text{
    display: block;
}

.tuotown-1{
    width: 289px;
    height: 300px;
    border-radius: 14px;
}

.title{
    font-family: 'Jura', sans-serif;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    margin: 0;
}

.tuotown__text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: rgba(255, 255, 255, 1);
    padding-top: 51px;
}

.tuotown__text-p{
    display: contents;
}

.tuotown__content{
    display: flex;
    justify-content: start;
}

.tuotown__content-text{
    display: block;
    padding-top: 23px;
}

.tuotown__p{
    color:rgba(255, 255, 255, 1);
    font-size: 16px;
    line-height: 22px;
}

.tuotown__title{
    font-family: 'Jura', sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    padding-top: 15px;
}

.tuotown__title-br{
    display: none;
}

.tuotown-2{
    width: 300px;
    height: 362px;
    border-radius: 14px;
    margin-left: 82px;
    margin-top: 39px;
}

.tuotown__p-text-img{
    display: none;
}

.tuotown__hr{
    color: #fff;
    border: 1px solid #FFFFFF;
    opacity: 0.1;
}

.how-to{
    margin-top: 60px;
    margin-bottom: 60px;
}

.how-to__title{
    font-family: 'Jura', sans-serif;
    font-weight: 500;
    font-size: 35px;
    line-height: 31px;
}

.how-to__content{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 37px;
}

.how-to__content-box__a{
    background-image: url(/images/how-to1.png);
    width: 380px;
    height: 465px;
    border-radius: 14px;
}

.how-to__content-box__b{
    background-image: url(/images/how-to2.png);
    width: 380px;
    height: 465px;
    border-radius: 14px;
}

.how-to__content-box__c{
    background-image: url(/images/how-to3.png);
    width: 380px;
    height: 465px;
    border-radius: 14px;
}

.how-to__box-a__data{
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    padding-top: 23px;
    padding-right: 25px;
    padding-left: 217px;
    margin: 0;
}

.how-to__box-a__content{
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    margin: 0;
    padding-top: 344px;
    padding-left: 37px;
}

.how-to__box-c{
    width: 380px;
    height: 83px;
    background-color: #C80000;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    margin-top: 331px;
}

.how-to__box-c__content{
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    padding-top: 13px;
    margin-left: 37px;
    margin-bottom: 22px;
}

.contacts{
    background-color: #272727;
}

.contacts__inner{
    display: flex;
    justify-content: space-between;
}

.contacts__content{
    margin-top: 44px;
}

.contacts__content-title{
    display: flex;
    max-width: 380px;
}

.contacts__logo{
    width: 194px;
    height: 47px;
}

.contacts__content-text__title{
    font-weight: 600;
    font-size: 13px;
    line-height: 17px;
    padding-left: 26px;
    margin: 0;
}

.contacts__content-text{
    margin-bottom: 35px;
    color: #FFFFFF;
}

.contacts__content-text__1{
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    padding-top: 29px;
    margin: 0;
}

.contacts__content-text__2{
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    padding-top: 24px;
    margin: 0;
}

.contacts__info{
    display: block;
    max-width: 423px;
    margin-left: 64px;
}

.contacts__info-about{
    margin-top: 47px;
}

.title__contacts-info{
    font-weight: 600;
    font-size: 17px;
    line-height: 28px;
    margin: 0;
}

.contacts__info-about__menu{
    display: flex;
    justify-content: space-between;
    padding: 0;
    max-width: 383px;
}


.contacts__info-about__item-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: rgba(255, 255, 255, .5);
}

.contacts__catalog{
    margin: 0;
}  

.contacts__catalog-about{
    margin-top: 34px;
}

.title__contacts-catalog{
    margin-bottom: 14px;
    font-weight: 600;
    font-size: 17px;
    line-height: 28px;
}

.contacts__catalog-menu{
    max-width: 423px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.contacts__catalog-menu__item{
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: rgba(255, 255, 255, .5);  
}

.contacts__catalog-menu__item-link{
    padding-right: 15px;
}

.contacts__catalog-span{
    display: none;
}

.contacts__catalog-menu__item-link__acsess{
    padding-right: 245px;
}

.contacts__network{
    margin-top: 60px;
    margin-bottom: 51px;
}

.contacts__network-about{
   display: flex;
   margin: 0;
}

.title__contacts-network{
    font-weight: 600;
    font-size: 17px;
    line-height: 28px;
    margin: 0;
}

.contacts__network-menu{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding-left: 15px;
}

.contacts__network-item + .contacts__network-item{
    padding-left: 8px;
}

.contacts__address{
    margin-left: 64px;
    max-width: 279px;
    margin-top: 47px;
}

.title__address{
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 600;
    line-height: 28px;  
    margin: 0; 
}

.tel__address{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    padding-top: 23px;
}

.mail__address-contacts{
    padding-top: 9px;
}

.mail__address{
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    color: rgba(255, 255, 255, .8);
}

.time__address{
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    padding-top: 30px;
    color: rgba(255, 255, 255, .8);
    margin: 0;
}

.time{
    margin: 0;
}

.address__moscow{
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    padding-top: 18px;
    color: rgba(255, 255, 255, .8);
    margin: 0;
}

.address__moscow-br{
    display: none;
}

.img__address{
    padding-top: 32px;
}

.address__link{
    width: 87px;
    height: 31px;
}

.footer__inner{
    padding-top: 32px;
}

.footer__content{
    display: flex;
    justify-content: space-between;
}

.footer__text{
    font-size: 12px;
    line-height: 21px;
    font-weight: 400;
    color: rgba(255, 255, 255, .2);
}

.footer__img{
    width: 156px;
    height: 17px;
    margin-right: 114px;
}

@media (max-width: 768px){
    .header{
        background-image: url(/images/bg-media.jpg);
        background: linear-gradient();
    }
    .phone{
        font-family: 'Jura', sans-serif;
        font-size: 20px;
        line-height: 24px;
        font-weight: 500;
    }
    .header__content{
        padding-top: 60px;
        padding-left: 69px;
        padding-right: 97px;
    }
    .header__title{
        font-size: 24px;
        line-height: 28px;
        margin: 0;
        text-transform: uppercase;
    }

    .header__br{
        display: none;
    }

    .header__text {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        line-height: 19px;
        padding-top: 20px;
    }
    .header__btn{
        margin-top: 27px;
        margin-bottom: 181px;
    }
    .header__text-br{
        display: none;
    }
    .header__text-media{
        display: initial;
    }
    .header__footer{
        padding-bottom: 61px;
    }
    .footer__menu{
        padding-right: 85px;
        padding-left: 85px;
    }
    .about__content-knife{
        justify-content: space-around;
        margin-right: 65px;
        margin-left: 65px;
    }
    .about__content-img{
        margin-bottom: 52px;
    }
    .about__purchase-btn{
        background-color: transparent;
    }
    .about__purchase{
        display: none;
    }
    .about__purchase-btn{
        margin-top: 22px;
        margin-left: 218px;
    }
    .about__plus-btn__red{
        background-color: transparent;
    }
    .about__hr{
        margin-top: 0px;
    }
    .news__item{
        margin-top: 0px;
    }
    .news__hr{
        display: none;
    }
    .tuotown{
        margin-right: 69px;
        margin-left: 69px;
    }
    .title{
        font-family: 'Jura', sans-serif;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
    }
    .tuotown__br{
        display: none;
    }
    .tuotown__title-br{
        display: initial;
    }
    .tuotown__text{
        font-size: 14px;
        line-height: 19px;
        color: rgba(173, 172, 172, 1);
        padding-top: 25px;
        text-transform: none;
    }
    .tuotown__title-text{
        margin-top: 79px;
        padding-left: 30px;
    }
    .tuotown__text-p{
        display: initial;
    }
    .tuotown__content-text {
        display: flex;
        flex-direction: column;
        min-width: 300px;
    }
    .tuotown__title{
        font-family: 'Jura', sans-serif;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        order: -1;
        margin: 0;
    }
    .tuotown__p{
        font-size: 14px;
        line-height: 19px;
        color: rgba(173, 172, 172, 1);
        padding-top: 25px;
        margin: 0;
    }
    .tuotown__p-text{
        display: none;
    }
    .tuotown__p-content{
        font-size: 14px;
        line-height: 19px;
        color: rgba(173, 172, 172, 1);
    }
    .tuotown-1{
        width: 300px;
    }
    .tuotown-2{
        height: 302px;
        margin-left: 0px;
        margin-bottom: 153px;
    }

    .tuotown__2-img{
        margin-left: 30px;
    }

    .tuotown__p-text-img{
        display: initial;
        font-size: 14px;
        line-height: 19px;
        color: rgba(173, 172, 172, 1);
    }
    .tuotown__p-text-img__2{
        font-size: 14px;
        line-height: 19px;
        color: rgba(173, 172, 172, 1);
    }
    .tuotown__hr{
        display: none;
    }
    .how-to{
        margin-bottom: 110px;
    }
    .how-to__title{
        text-align: center;
        line-height: 41px;
        margin-bottom: 60px;
    }
    .how-to__content{
        display: block;
        margin-right: 69px;
        margin-left: 59px;
    }
    .how-to__content-box__a{
        background-image: url(/images/how-to-1.png);
        width: 630px;
        margin-top: 30px;
    }
    .how-to__content-box__b{
        background-image: url(/images/how-to-2.png);
        width: 630px;
        margin-top: 30px;
    }

    .how-to__content-box__c{
        background-image: url(/images/how-to-3.png);
        width: 630px;
        margin-top: 30px;
    }
    .how-to__box-c{
        width: 630px;
        height: 78px;
        margin-top: 387px;
    }
    .how-to__box-a__data{
        padding-left: 472px;
        padding-top: 20px;
        padding-right: 20px;
    }
    .how-to__box-a__content-br{
        display: none;
    }
    .how-to__box-a__content{
        max-width: 510px;
    }
    .contacts{
        margin-left: 0px;
        margin-right: 0px;
    }
    .contacts__inner{
        display: block;
    }
    .contacts__content{
        padding-top: 60px;
    }
    .contacts__content-text__1-br{
        display: none;
    }
    .contacts__content-text__title{
        font-weight: 400;
    }
    .contacts__content-text{
        color: rgba(173, 172, 172, 1);
    }
    .contacts__info{
        margin-left: 0px;
        max-width: 632px;
    }
    .title__contacts-info{
        font-family: 'Jura', sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
    }
    .title__contacts-catalog{
        font-family: 'Jura', sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
    }
    .contacts__catalog-menu{
        max-width: 554px;
    }
    .title__contacts-network{
        font-family: 'Jura', sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
    }
    .contacts__info-about__item-link{
        line-height: 19px;
    }
    .contacts__catalog-menu__item-link{
        line-height: 19px;
    }
    .contacts__catalog-menu__item:nth-child(4) {
        display: none;
    }
    .contacts__catalog-menu__item-link__acsess{
        line-height: 19px;
        padding-right: 0px;
    }
    .contacts__catalog-span{
        display: initial;
    }
    .contacts__network-menu{
        padding-left: 40px;
    }
    .contacts__network-item + .contacts__network-item{
        padding-left: 15px;
    }
    .contacts__address{
        max-width: 727px;
        margin-left: 0px;
        margin-top: 30px;
    }
    .contacts__address-services{
        display: flex;
        align-items: baseline;
    }
    .tel__address{
        font-size: 16px;
        line-height: 19px;
    }
    .address__moscow-br{
        display: initial;
    }
    .mail__address-contacts{
        padding-left: 30px;
    }
    .time__address{
        padding-left: 30px;
    }
    .address__moscow{
        padding-left: 30px;
    }
    .img__address{
        padding-top: 8px;
        padding-bottom: 60px;
    }
    .footer__inner{
        padding-top: 15px;
    }
    .footer__text{
        max-width: 550px;
    } 
    .footer__img{
        margin-right: 5px;
        margin-top: 4px;
    }
}